NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
GOOGLE_PLACES_API_KEY=
API_FAST_MODE=true
GOOGLE_API_TIMEOUT_MS=2500
AI_API_TIMEOUT_MS=4500
LONGCAT_REVIEW_TIMEOUT_MS=30000
EXTERNAL_API_RETRIES=0
EXTERNAL_API_RETRY_DELAY_MS=120
AI_RESPONSE_DEADLINE_MS=5000
LONGCAT_GENERATE_ATTEMPTS=2
LONGCAT_FETCH_GENERATE_TIMEOUT_MS=20000
LONGCAT_FETCH_GENERATE_ATTEMPTS=2
LONGCAT_FETCH_GENERATE_CONCURRENCY=1
AUTO_GENERATE_AI_ON_FETCH=true
LONGCAT_API_KEY=
LONGCAT_MODEL=LongCat-Flash-Chat
LONGCAT_FALLBACK_MODEL=LongCat-Flash-Lite
LONGCAT_BASE_URL=https://api.longcat.chat/openai/v1
ENABLE_LONGCAT_REVIEW_FALLBACK=true
ALLOW_AI_FALLBACK=false
REVIEW_SOURCE=longcat
ALLOW_SAMPLE_FALLBACK=false


AI_INSTANT_MODE=false









AI_JOB_MAX_ATTEMPTS=3
AI_JOB_PROCESS_LIMIT=1
AI_JOB_LONGCAT_TIMEOUT_MS=6000
AI_JOB_LONGCAT_ATTEMPTS=1


LONGCAT_PARALLEL_TONE_GENERATION=true

